@{
    ViewBag.Title = "Home Page";
}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<h2>Welcome to the closet app!</h2>
<br />
<div class="row landing">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/carImageOne.PNG" />
            <div class="caption">
                <h3>Tops</h3>
                <p>Click below to see tops</p>
                <p><a href="/Tops/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a> 
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
             <img src="~/Content/images/jeans.jpg" />
             <div class="caption">
                 <h3>Bottoms</h3>
                 <p>Click below to see bottoms</p>
                 <p><a href="/Bottoms/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a>
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/vans.jpg" />
            <div class="caption">
                <h3>Shoes</h3>
                <p>Click below to see shoes</p>
                <p><a href="/Shoes/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/hatCar.PNG" />

            <div class="caption">
                <h3>Accessories</h3>
                <p>Click below to see accessories</p>
                <p><a href="/Accessories/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/outfitMain.jpg" />
            <div class="caption">
                <h3>Outfits</h3>
                <p>Click below to see outfits</p>
                <p><a href="/Outfits/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <i class="fas fa-wrench fa-10x"></i>
            <div class="caption">
                <h3>Create</h3>
                <p>Click below to see create a new outfit</p>
                <p><a href="/Create/Index" class="btn btn-primary" role="button"><i class="far fa-hand-point-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>













