body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    text-align: center;
    font-family:'Californian FB';
}



.navbar {
    background-color: #fff;
    font-family: Consola;
}

.navbar a {
    color: #000 !important;
}

.navbar a:hover {
    color: #87CEFA !important;
}



footer {
    text-align: center;
    font-family: 'Californian FB';
}

.thumbnail {
    box-shadow: 5px 5px 5px grey;
    height: 500px;
}

#orig {
    box-shadow: 5px 5px 5px grey;
    height: 500px;
    width: 360px;
}

#swap {
    box-shadow: 5px 5px 5px grey;
    height: 500px;
    width: 360px;
}

.fas.fa-cart-plus.fa-7x {
   
}

.captionOrig {
    padding-top: 210px;
    padding-left: 100px;
    text-align: center;
    font-family: Centaur;
}

.captionSwap {
    text-align: center;
    font-family: Centaur;
}




.row.landing{
    margin-top: 40px;
}

.thumbnail h2 {
    text-align: center;
}

.thumbnail img {
    height: 300px;
    padding-top: 10px;
}



.caption {
    text-align: center;
    font-family: Centaur;
}

.btn.btn-primary {
    width: 80px;
    background-color: grey;
    color: #000;
    border: thin;
}

.btn.btn-primary:hover {
    width: 80px;
    background-color: #87CEFA;
    color: #D2691E;
    border: thin;
}

/* Index Wardrobe */

.col-lg-12.wardrobeHeader {
    padding-bottom: 20px;
    
}

.row {
    margin-top: 20px;
    margin-bottom: 0px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: grey;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    min-height: 60px;
}

.col-lg-4.wardrobeContent {
    margin-top: 20px;
    font-family: 'Californian FB';
}

.col-lg-4.wardrobeContent ul li {
    font-size: 20px;
    list-style-type: none;
}

.btn.btn-primary.wardrobeBtn {
    margin-left: 510px;
    width: 100px;
    background-color: grey;
    border: thin;
    font-family: 'Californian FB';
}

.btn.btn-primary.wardrobeBtn:hover {
    width: 100px;
    background-color: #87CEFA;
    border: thin;
    color: #D2691E;
}

.btn.btn-primary.wardrobeBtn a {
    color: #000;
}

.btn.btn-primary.wardrobeBtn a:hover {
    color: #D2691E;
    text-decoration: none;
}

.btn-group {
    padding-top: 70px;
    padding-left: 60px;
    color: #000 !important;
    font-family: 'Californian FB';
}

    .btn-group button {
        background-color: #F4A460;
        font-family: 'Californian FB';
    }

.btn-group button a {
   color: #000;

}

.btn-group button:hover {
    background-color: #F0E68C;
    text-decoration: none;
}

/* Details */

.container-fluid.details{
    font-family: Candara;
}

.container-fluid.details ul {
    list-style-type: none;
    font-size: 20px;
}

.jumbotron {
    height: 600px;
    background-color: grey;
    margin-top: 10px;
}

.jumbotron img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 5px 5px 5px #000;
}

.col-lg-6.detailsImage ul {
    text-align: center;
}

#deatilsBtn {
   padding-left: 450px;
}




#myDIV {
    width: 100px;
    height: 100px;
    background: grey;
    -webkit-transition: width 2s;
    transition: width 2s;
    box-shadow: 5px 5px 5px #000;
    color: #000;
}

#myDIV:hover {
    width: 600px;
}

