body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
    
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    text-align: center;
}



.navbar {
    background-color: #fff;
   
}

.navbar a {
color: grey !important;
}

.navbar a:hover {
    color: #000 !important;
}

footer {
    text-align: center;
}

.thumbnail {
    box-shadow: 10px 10px grey;
}

.row.landing{
    margin-top: 40px;
}

.thumbnail h2 {
    text-align: center;
}

.thumbnail img {
    height: 300px;
}

.fas.fa-wrench.fa-10x {
   height: 300px;
   padding-left: 100px;
   padding-top: 80px;
}

.caption {
    text-align: center;
}

.btn.btn-primary {
    width: 80px;
    background-color: grey;
    color: #000;
    border: thin;
}

.btn.btn-primary:hover {
    width: 80px;
    background-color: #87CEFA;
    color: #D2691E;
    border: thin;
}

/*.col-lg-5.wardrobeImage {

}*/

.row.vdivide [class*='col-']:not(:last-child):after {
    background: grey;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 50px;
}

